//fonts
$SourceSansPro-regular: 'SourceSansPro-Regular';
$SourceSansPro-bold: 'SourceSansPro-Bold';

//colors
$color-primary: #43425D;
$color-white: #FFFFFF;
$color-text: #4D4F5C;
$color-grey-bg: #F0F0F7;
$color-blue: #3B86FF;
$color-active: #A3A0FB;
$color-icons: #A5A4BF;
$color-red: #FF5F5F;
$color-grey-form: #D6D6D6;
$color-grey-highlight: #F5F6FA;
$color-grey-text: #A3A6B4;
$color-grey-border: #D7DAE2;