
@forward "./lib-overrides/fullcalendar";
@forward "./helpers/variables";
@forward "./helpers/mixins";

//global styles
h1 {
  font-family: $SourceSansPro-regular;
  font-size: 28px;
  line-height: 40px;
  color: $color-text;
}