/* Basic CSS Reset */

/* Use a more intuitive box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Media elements behave more predictably */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Input Reset */
input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  appearance: none;
}